.navbar {
    padding: 4px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays above other elements */
}


.navbar .logo{
    height: 35px;
    width: 160px;
    padding: 5px 5px 5px 5px;
}


.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color: white;
    font-size: 16px;

}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;

}

.navbar-right .search{
    width: 20px;
    height: 20px;
}

.navbar-button{
    background:transparent;
    font-size: 16px;
    color: white;
    border: 1px solid white;
    padding: 3px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar-button:hover{
    background-color: #00A49B;
    color: white;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid white ;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
    width: 20px;
    height: 20px;

}

.navbar-search-icon .dot{
    position: absolute;
    min-width: 4px;
    min-height: 4px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    top: 2px;
    right: -8px;
}

@media (max-width:1050px){
    .navbar .logo{
        width: 100px;
    }

    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right{
        gap: 30px;
    }

    .navbar-right img{
        width: 22px;
    }

    .navbar-right button{
        padding: 8px 25px;
    }

}

@media (max-width:900px){
    .navbar .logo{
        width: 110px;
        height: 20px;
    }

    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right{
        gap: 20px;
    }

    .navbar-right img{
        width: 20px;
    }

    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }

}

@media (max-width:750px){

    .navbar-menu{
        display: none;
    }

}


